<!DOCTYPE html>
<html>
<head>
	<title>BabyHealth Stimulator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="firstTrimester.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">BabyHealth </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <% if(!currentUser){ %>
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         <% } else { %>
         <li><a href="/profile"><%= currentUser.username %></a></li>
        <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
 
 <div class="container">
	<div class="jumbotron">
		<h1>Second Trimester</h1>
		<div class="para">
			<h2>Second Trimester Key Stages</h2>
			The second trimester of your pregnancy is from week 13 to week 28 - roughly months four, five and six.

            As well as feeling and looking more pregnant during these weeks, you may also have more energy than you did in the first trimester. This will come as a great relief if you have been struggling with sickness, tiredness or anxiety about getting through the first trimester.
		</div>
		<div class="para">
			<h2>Baby’s growth during the Second trimester</h2>
			Your baby is very, very busy in the second trimester. By week 18 of pregnancy, he weighs about as much as a chicken breast, and can even yawn and hiccup. By around week 21 you should be able to feel his newly coordinated arms and legs give you little jabs and kicks. By about week 23, your baby takes a cue from you and starts to pack on the pounds; in fact, he'll likely double his weight in the next four weeks. By the end of your second trimester, you'll have a 2-pound human in your belly!
			<br>

A few more exciting things going on this trimester:<br><br>

<strong>Hair, skin and nails: </strong>  By around week 16, baby’s first tiny hairs are starting to sprout, and by week 22, he’s got eyelashes and eyebrows, too. Baby’s skin is now covered in lanugo (a downy “fur coat” that keeps him warm until builds up more fat in the third trimester) and, by week 19, vernix caseosa  (a greasy layer of oil and dead skin cells that shield his skin from acidic amniotic fluid) — both of which will shed before birth. <br><br>
<strong>Digestive system: </strong> Baby’s digestive system was fully formed by the end of the first trimester. So now baby is starting to suck and swallow in preparation for life outside of the womb. What’s more, he can even taste the foods you eat via your amniotic fluid — which research has shown can influence his preferences outside of the womb (all the more reason to chow down on a healthy pregnancy diet filled with a variety of fresh fruits and veggies). Baby’s waste systems are working hard too: Although he still gets his nutrition via your placenta, all of that swallowing means he’ll be doing plenty of peeing.<br><br>
<strong>Senses: </strong> Baby’s ears and eyes are moving into their correct positions. By week 22 of pregnancy, his developing senses mean he’s starting to smell, see and hear, and those little eyes are beginning to open.<br><br>
<strong>Heart: </strong> By 17 weeks, baby’s heart is no longer beating spontaneously, as his brain is now regulating his heartbeat — which you should be able to hear with a stethoscope by week 20. In week 25, capillaries begin forming to carry oxygenated blood through his body.<br><br>
<strong>Brain: </strong>In addition to controlling your baby’s heartbeat and inducing kicks, by 26 weeks your baby’s brain will start blinking those little eyelids.<br><br>
		</div>
		<div class="para">
			<h2>Changes in your body</h2>
			This trimester certain pregnancy symptoms may persist (like heartburn and constipation). At the same time, others may pop up for the first time as your belly continues to grow and levels of pregnancy hormones rise, including:
			<br><br>
			<strong>Congestion </strong> as blood flow is increased to your body’s mucous membranes (including your nose). You may even find yourself snoring for the first time! Fortunately there are some OTC medications that are safe to use during pregnancy.<br><br>
<strong>Mild swelling</strong>  of the ankles and feet, which is experienced by about three in four pregnant women, starting at about week 22 of pregnancy (though sometimes earlier) and lasting until delivery. To reduce puffiness, try to keep active, kick up your feet when you’re not moving, avoid long periods of standing or sitting and sleep on your side.<br><br>
<strong>Sensitive gums and even some bleeding </strong> — but be sure to see your dentist if your gums are bright red and bleed easily, as it could be a sign of gingivitis (which is relatively harmless but can develop into a bigger problem if not properly treated).<br><br>
<strong>Leg cramps </strong>  which usually start in the second trimester and last through the third. It’s due not only to hormones and weight but also possibly a shortage of calcium or magnesium — so be sure to keep eating a healthy, well-balanced pregnancy diet.<br><br>
<strong>Dizziness </strong> caused by lower blood pressure due in part to all the extra blood your body is pumping. Take it easy, eat plenty of small meals and fill up on fluids to reduce symptoms.<br><br>
<strong>Achiness in the lower abdomen</strong>  — otherwise known as round ligament pain — as the ligaments that support your belly stretch to support your belly’s increasing size.<br><br>
<strong>Varicose veins and/or hemorrhoids </strong>(a type of varicose vein) — which, fortunately, should shrink or go away after pregnancy if you didn’t have them before you conceived.<br><br>
All of the above are perfectly normal and temporary — as are feelings of apprehension, irritability, forgetfulness and even frustration at looking positively plump but not definitively pregnant.<br><br>

There may be some big changes in the bedroom as well during the second trimester. Pregnancy can wreak havoc on your sex life as you and your partner cope with your changing body and mood-killing symptoms like fatigue and nausea. Some (lucky) ladies find themselves hotter than ever, with extra blood flowing to all the right spots. A few things to keep in mind: Communication is key to avoiding resentment, so keep talking through the dry spells. And remember — sex will neither hurt your fetus nor scar him emotionally. (In fact, he'll probably enjoy a little rocking and rolling.)<br><br>
	</div>
<div class="para">
	<h3><a href="/secondTrimester_diet"> Pregnancy Diet Plan</a></h3>
	If you're looking for ideas on what to eat to have a healthy pregnancy, you've come to the right place.
	<br>
	These meal plans, also called pregnancy diet plans or diet charts, include delicious vegetarian or non-vegetarian options and dishes from North or South India. They are made using foods that have the nutrients you need at your stage of pregnancy.

You can pick and choose from the delicious dishes suggested to further adapt the meal plan to your tastes.
</div>
<br>
<span class="para"><h3><strong>Take a quiz to check your progress and your health, and get related adivises from our experts.</strong></h3></span>
<br>
<center>
	<button type="button" class="btn btn-primary"><a class ="link" href="/firstTrimester">First Trimester</a> </button>
	<button type="button" class="btn btn-primary"><a class ="link" href="/quiz">Quiz</a></button>
	<button type="button" class="btn btn-primary"><a class="link" href="/thirdTrimester">Third Trimester</a></button>

</center>
	</div>
</div>
 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>