<!DOCTYPE html>
<html>
<head>
	<title>BabyHealth Stimulator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="firstTrimester.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">BabyHealth </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if(!currentUser){ %>
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         <% } else { %>
         <li><a href="/profile"><%= currentUser.username %></a></li>
        <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
	<div class="jumbotron">
		<h1>Third Trimester</h1>
		<div class="para">
			<h2>Third Trimester Key Stages</h2>
			The third trimester of your pregnancy is from week 29 to week 40 - months seven, eight and nine.

Feelings at this stage of pregnancy tend to go from tiredness and worry to excitement about the baby.

Your baby continues to grow, and as the third trimester progresses they'll have a better chance if they're born early. You’ll have more checks with the midwife in the third trimester, because it’s important to keep an eye on your and your baby’s health.

The position your baby is in becomes more important now and you may start to think about what happens during labour.

If you can, use these last few weeks to get ready for the baby and enjoy some time for yourself, especially after you start maternity leave. If you have children already, you may find it hard to keep up with them sometimes. Take any offers of help you can get.

One important thing to remember in the third trimester is that you should now go to sleep on your side at night (and during any day time naps). 
		</div>
		<div class="para">
			<h2>Baby’s growth during the Third trimester</h2>
			Your little one will get a whole lot larger in the third trimester, growing from about 2 1/2 pounds and 16 inches long in week 28 of pregnancy to between 6 and 9 pounds and 19 to 22 inches long in week 40. Indeed, your baby is growing fast — so don't be surprised if his increase in size (along with a decrease in living space) leads to some serious kicks and pokes in your gut.

Here are a few of the highlights happening in your third trimester of pregnancy:<br><br>

<strong>Bones: </strong> As your baby transforms cartilage to bone in months 7 and 8, he’ll be getting all of her calcium from you — so be sure to eat plenty of calcium-rich foods.<br><br>
<strong> Hair, skin and nails: </strong>By week 32 of pregnancy, baby’s formerly see-through skin will become opaque. In week 36, fat continues to accumulate as your baby sheds his vernix (the waxy substance that protects his skin from your amniotic fluid) and lanugo (the hairy coat that keeps him warm in there).<br><br>
<strong> Digestive system: </strong>In the final weeks of pregnancy, meconium — or baby’s first poop, consisting mostly of blood cells, vernix and lanugo — starts to build up in baby’s intestines.<br><br>
<strong> Brain: </strong>In the third trimester your baby’s brain will grow faster than ever, test-driving some nifty skills including blinking, dreaming and regulating his own body temperature. <br><br>
Around week 34 of pregnancy, baby’s body turns southward, settling into a heads-down, bottom-up position — unless, of course, your baby remains stubbornly in the breech position (in which case your doctor will likely attempt to manually turn baby around week 37).
		</div>
		<div class="para">
			<h2>Changes in your body</h2>
			With that busy baby inside your belly, you're probably feeling lots of fetal activity. You may also be experiencing changes in your body as your bump gets bigger than ever, including:<br><br>

<strong> Abdominal achiness: </strong>As your round ligaments (which support your lower abdomen) stretch to accommodate your growing bump, you may feel cramps or sharp pain. There’s not much you can do other than take it easy.<br><br>
<strong>Fatigue: </strong> You’ll feel more zapped this trimester because of the demands pregnancy is putting on your body, so eat well and frequently, stay active and solve pregnancy sleep problems.<br><br>
<strong>Heartburn: </strong> In the last few weeks of pregnancy, your uterus will push your stomach and its contents upward, causing that persistent burn. If it’s really bothering you, talk to your doctor about proton-pump inhibitors (PPIs) or H2 blockers, which are safe to use during pregnancy.<br><br>
<strong> Braxton Hicks contractions: </strong>Your body’s way of preparing for labor, you’ll start to feel these irregular practice contractions now until real labor starts.<br><br>
<strong> Varicose veins: </strong>You may notice these bulging veins (including hemorrhoids, which are actually a type of varicose vein) in your lower body due to all of the extra blood you’re pumping. The good news: If you didn’t have them before pregnancy, they’ll likely disappear after you deliver.<br><br>
<strong>Stretch marks: </strong> These tiny tears, which appear in skin that’s being stretched to the limit during pregnancy, are usually a result of genetics. Moisturize to minimize their appearance.<br><br>
<strong> Backache: </strong>As the pregnancy hormone relaxin loosens your joints and your growing belly pulls your center of gravity forward, you may start to have an achy back — another reason to put your feet up, literally. (Sharp, shooting pain from your back down your legs, on the other hand, may be a sign of sciatica.)<br><br>
<strong> Crazy dreams: </strong>Thanks to pregnancy hormones, your dreams may be more vivid than ever as you near your due date. They’re totally normal — so take them with a grain of salt and have fun swapping stories with a loved one.<br><br>
<strong> Clumsiness: </strong>Your hormones are on overdrive, your belly is throwing you off balance and you’re more forgetful than ever. You’re in good (pregnant) company — so just try to be careful and have a sense of humor about it!<br><br>
<strong>Lack of bladder control:</strong>  You sneeze = you pee. Indeed, all that extra weight on your pelvic floor makes it harder to stay dry.<br><br>
<strong>Leaky breasts: </strong> Your body’s warming up to feed your baby.<br><br>
With all of these pregnancy symptoms and more weighing on you, just try to keep your eye on the prize: your beautiful baby, who you'll meet in just a few weeks!<br><br>
		</div>
<div class="para">
	<h3><a href="/thirdTrimester_diet"> Pregnancy Diet Plan</a></h3>
	If you're looking for ideas on what to eat to have a healthy pregnancy, you've come to the right place.
	<br>
	These meal plans, also called pregnancy diet plans or diet charts, include delicious vegetarian or non-vegetarian options and dishes from North or South India. They are made using foods that have the nutrients you need at your stage of pregnancy.

You can pick and choose from the delicious dishes suggested to further adapt the meal plan to your tastes.
</div>
<br>
<span class="para"><h3><strong>Take a quiz to check your progress and your health, and get related adivises from our experts.</strong></h3></span>
<br>
<center>
	<button type="button" class="btn btn-primary"><a class= "link" href="/secondTrimester">Second Trimester</a></button>
	<button type="button" class="btn btn-primary"><a class= "link" href="/secondTrimester">Quiz</a></button>
	<button type="button" class="btn btn-primary"><a class="link" href="/firstTrimester">First Trimester</a></button>

</center>
	</div>
</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>